@font-face {
   font-family: Merriweather ;
   src: url(../fonts/Festive-Regular.ttf);
}
* {
   font-family: Festive-Regular;
}
.my-font {
   font-family: 'Abril Fatface', cursive;
   font-size: 30px;
}
.link-decoration {
   text-decoration: none;
}
.my-bg-light {
   background-color: rgb(226, 226, 226);
}




.p1 {
   width: 35px;
   height: 35px;
   background-image: url(../icons/fb_gray.png);
   background-size: cover;
   background-repeat: no-repeat;
   transition: background-image 1s;
   
}
.p2{
   width: 35px;
   height: 35px;
   background-image: url(../icons/insta_gray.png);
   background-size: cover;
   background-repeat: no-repeat;
   transition: background-image 1s;
   
}
.p3{
   width: 35px;
   height: 35px;
   background-image: url(../icons/youtube_gray.png);
   background-size: cover;
   background-repeat: no-repeat;
   transition: background-image 1s;
   
}

.p1:hover {
   background-image: url(../icons/fb.png);
   cursor: pointer;
}
.p2:hover {
   background-image: url(../icons/insta.png);
   cursor: pointer;
}
.p3:hover {
   background-image: url(../icons/youtube.png);   cursor: pointer;
}
