@font-face {
   font-family: Merriweather ;
   src: url(../fonts/Festive-Regular.ttf);
}
* {
   font-family: Festive-Regular;
}
.my-font {
   font-family: 'Abril Fatface', cursive;
   font-size: 30px;
}
.link-decoration {
   text-decoration: none;
}
.my-bg-light {
   background-color: rgb(202, 202, 202);
}
